
<!-- <div class="dashboard-title">Admin Dashboard</div> -->

<div class="dashboard-card">
  <h2>Welcome, Admin!</h2>  
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/dashboard">Home</a>
      </li>
      <li class="nav-item">
        <!-- <a routerLink="/location/listlocation">Location</a> 
        <a routerLink="/Reciver/listReciver">Receiver</a>

      
        <ul class="sub-menu">
          <li><a routerLink="/location/createlocation">add</a></li>
          <li><a routerLink="/location/listlocation">list</a></li>
        </ul>  -->
      </li>
      <li class="nav-item">
        <a>Operation</a>
      
        <ul class="sub-menu">
          <li><a routerLink="/lr/listlr">Lorry Recipt</a></li>
          <li><a routerLcdink="#">A</a></li>
        </ul>
      </li>
      
      <li class="nav-item">
        <a >Masters</a>
        <ul class="sub-menu">
          <li><a routerLink="/location/listlocation">Location</a> </li>
        <li><a routerLink="/Reciver/listReciver">Receiver</a></li>
        <li><a routerLink="/shipper/listshiper">Shipper</a></li>
        <li><a routerLink="/branch/listbranch">Branch</a></li>
        

        </ul> 
      </li>
    
      <li class="nav-item">
        <a>chart</a>
        <ul class="sub-menu">
          <li><a routerLink="/lr/chart">deleved status</a></li>
          <li><a routerLink="/chart">other</a></li>
        </ul> 
      </li>
    </ul>
  </nav>
  <!-- <app-admindashboards></app-admindashboards> -->


</div>
<router-outlet></router-outlet>

