<app-admin></app-admin>
<form [formGroup]="myForm"  (ngSubmit)="onSubmit()">
  <div formArrayName="dynamicRows">

    <button type="button" (click)="addRow()">Add Row</button>    
        <input formControlName="id">
    <input formControlName="lrno" placeholder="Lrno"  value="" >
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
  <hr>
    <div *ngFor="let row of dynamicRows.controls; let i = index" [formGroupName]="i">
      <input formControlName="invoiceno" placeholder="invoiceno">
      <input formControlName="invoicedate"  type="date"placeholder="invoicedate">
      <input formControlName="declairedval" placeholder="declairedval">
      <button (click)="removeRow()">Remove</button><br>
    </div>
  </div>
  
</form>